@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


#header1-4 P {
  text-align: left;
  color: #cccccc;
}
#header1-4 H1 {
  color: #efefef;
}
#dropdown-menu-3 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-3 .navbar-brand a {
  font-size: 30px;
  font-family: 'Merriweather', serif;
}
#dropdown-menu-3 .nav .link,
#dropdown-menu-3 .dropdown-item {
  font-size: 1.2em;
  color: #acacac;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-3 .navbar,
#dropdown-menu-3 .dropdown-menu {
  background: #28324e;
}
#dropdown-menu-3 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-3 .dropdown-menu a:hover,
#dropdown-menu-3 .dropdown-menu a:focus {
  background: #212941;
}
#dropdown-menu-3 .navbar-toggler {
  color: #acacac;
}


#dropdown-menu-b .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-b .navbar-brand a {
  font-size: 30px;
  font-family: 'Merriweather', serif;
}
#dropdown-menu-b .nav .link,
#dropdown-menu-b .dropdown-item {
  font-size: 1.2em;
  color: #acacac;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-b .navbar,
#dropdown-menu-b .dropdown-menu {
  background: #28324e;
}
#dropdown-menu-b .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-b .dropdown-menu a:hover,
#dropdown-menu-b .dropdown-menu a:focus {
  background: #212941;
}
#dropdown-menu-b .navbar-toggler {
  color: #acacac;
}


#dropdown-menu-e .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-e .navbar-brand a {
  font-size: 30px;
  font-family: 'Merriweather', serif;
}
#dropdown-menu-e .nav .link,
#dropdown-menu-e .dropdown-item {
  font-size: 1.2em;
  color: #acacac;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-e .navbar,
#dropdown-menu-e .dropdown-menu {
  background: #28324e;
}
#dropdown-menu-e .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-e .dropdown-menu a:hover,
#dropdown-menu-e .dropdown-menu a:focus {
  background: #212941;
}
#dropdown-menu-e .navbar-toggler {
  color: #acacac;
}
#content1-1z P {
  color: #475577;
}


#dropdown-menu-o .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-o .navbar-brand a {
  font-size: 30px;
  font-family: 'Merriweather', serif;
}
#dropdown-menu-o .nav .link,
#dropdown-menu-o .dropdown-item {
  font-size: 1.2em;
  color: #acacac;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-o .navbar,
#dropdown-menu-o .dropdown-menu {
  background: #28324e;
}
#dropdown-menu-o .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-o .dropdown-menu a:hover,
#dropdown-menu-o .dropdown-menu a:focus {
  background: #212941;
}
#dropdown-menu-o .navbar-toggler {
  color: #acacac;
}


#dropdown-menu-u .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-u .navbar-brand a {
  font-size: 30px;
  font-family: 'Merriweather', serif;
}
#dropdown-menu-u .nav .link,
#dropdown-menu-u .dropdown-item {
  font-size: 1.2em;
  color: #acacac;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-u .navbar,
#dropdown-menu-u .dropdown-menu {
  background: #28324e;
}
#dropdown-menu-u .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-u .dropdown-menu a:hover,
#dropdown-menu-u .dropdown-menu a:focus {
  background: #212941;
}
#dropdown-menu-u .navbar-toggler {
  color: #acacac;
}


#dropdown-menu-19 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-19 .navbar-brand a {
  font-size: 30px;
  font-family: 'Merriweather', serif;
}
#dropdown-menu-19 .nav .link,
#dropdown-menu-19 .dropdown-item {
  font-size: 1.2em;
  color: #acacac;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-19 .navbar,
#dropdown-menu-19 .dropdown-menu {
  background: #28324e;
}
#dropdown-menu-19 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-19 .dropdown-menu a:hover,
#dropdown-menu-19 .dropdown-menu a:focus {
  background: #212941;
}
#dropdown-menu-19 .navbar-toggler {
  color: #acacac;
}
#contacts1-1u P {
  color: #cccccc;
}
#contacts1-1u UL {
  text-align: right;
}


#dropdown-menu-1c .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1c .navbar-brand a {
  font-size: 30px;
  font-family: 'Merriweather', serif;
}
#dropdown-menu-1c .nav .link,
#dropdown-menu-1c .dropdown-item {
  font-size: 1.2em;
  color: #acacac;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-1c .navbar,
#dropdown-menu-1c .dropdown-menu {
  background: #28324e;
}
#dropdown-menu-1c .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1c .dropdown-menu a:hover,
#dropdown-menu-1c .dropdown-menu a:focus {
  background: #212941;
}
#dropdown-menu-1c .navbar-toggler {
  color: #acacac;
}


#dropdown-menu-1g .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1g .navbar-brand a {
  font-size: 30px;
  font-family: 'Merriweather', serif;
}
#dropdown-menu-1g .nav .link,
#dropdown-menu-1g .dropdown-item {
  font-size: 1.2em;
  color: #acacac;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-1g .navbar,
#dropdown-menu-1g .dropdown-menu {
  background: #28324e;
}
#dropdown-menu-1g .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1g .dropdown-menu a:hover,
#dropdown-menu-1g .dropdown-menu a:focus {
  background: #212941;
}
#dropdown-menu-1g .navbar-toggler {
  color: #acacac;
}


#dropdown-menu-1j .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1j .navbar-brand a {
  font-size: 30px;
  font-family: 'Merriweather', serif;
}
#dropdown-menu-1j .nav .link,
#dropdown-menu-1j .dropdown-item {
  font-size: 1.2em;
  color: #acacac;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-1j .navbar,
#dropdown-menu-1j .dropdown-menu {
  background: #28324e;
}
#dropdown-menu-1j .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1j .dropdown-menu a:hover,
#dropdown-menu-1j .dropdown-menu a:focus {
  background: #212941;
}
#dropdown-menu-1j .navbar-toggler {
  color: #acacac;
}
#msg-box1-2d .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-2d .mbr-article {
  color: #fff;
}
#social-buttons1-24 .mbr-header__text {
  color: #efefef;
  font-size: 20px;
}


#dropdown-menu-26 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-26 .navbar-brand a {
  font-size: 30px;
  font-family: 'Merriweather', serif;
}
#dropdown-menu-26 .nav .link,
#dropdown-menu-26 .dropdown-item {
  font-size: 1.2em;
  color: #acacac;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-26 .navbar,
#dropdown-menu-26 .dropdown-menu {
  background: #28324e;
}
#dropdown-menu-26 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-26 .dropdown-menu a:hover,
#dropdown-menu-26 .dropdown-menu a:focus {
  background: #212941;
}
#dropdown-menu-26 .navbar-toggler {
  color: #acacac;
}
#msg-box5-29 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-29 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-29 .mbr-article {
  color: #ffffff;
}
